 <div class="wrapper context" id="wrapper">

  <h1>Wesh c'est mon portfolio les geux et les geusess</h1>

  <p>Nous sommes le <% t=Time.now %> <%= t.day %>/<%= t.month %>/<%= t.year %> et il est <%= Time.now.strftime("%H:%M:%S") %></p>
  <div id="fullpage">
    <div class="section" id="section1"><h1>Salut moi c'est Julien </h1></div>
    <div class="section" id="section2"><h1>A propos</h1></div>
    <div class="section" id="section3"><h1>Mes réalisations</h1></div>
    <div class="section" id="section4"><h1>Mon CV</h1></div>
  </div>

</div>
