// Mise en forme du carroussel
.carousel-inner img {
  width: 100%;
  height: 75vh;
  border-radius: 30px;
}

.carousel-indicators {
  position: relative;
  bottom: 20px;
  left: 5vw !important;
}

img {
  object-fit: cover;
  object-position: 50% 50%;
}
#chart {
  position: relative;
  padding: 8px;
  max-width: 50vw !important;
  max-height: 50vh !important;
  bottom: 20px;
}

