// Mise en forme du fullpage
.fp-tableCell {
  padding: 0 40px;
}

//Mise en forme du background color avec opacity en ayant le text pleinement visible
.text {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 30px;
  text-align: middle;
  width: 90vw;
  max-height: 90vh;
  line-height: 1.6;
}

.content {
  text-align: justify;
}

//Style adapté pour chaque section
.body {
background-image: linear-gradient(115deg, #86BBD8 10%, #FFE19C 100%);
}
.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.s1 {
  background-image: url("https://res.cloudinary.com/desecdaxd/image/upload/v1594214002/welcome.jpg"
);
}

// .s5 {
//   background-image: url("https://res.cloudinary.com/desecdaxd/image/upload/q_auto:best/f_auto/v1590487491/skills.jpg");
// }

.s6 {
  background-image: url("https://res.cloudinary.com/desecdaxd/image/upload/q_auto:best/f_auto/v1590487507/contact.jpg");
}
