// Mise en forme du fullpage
.fp-tableCell {
  padding: 0 40px;
}

//Mise en forme du background color avec opacity en ayant le text pleinement visible
.text {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 30px;
  text-align: middle;
  width: 90vw;
  line-height: 1.6;
}

.content {
  text-align: justify;
}

//Style adapté pour chaque section
.body {
background-image: linear-gradient(115deg, #86BBD8 10%, #FFE19C 100%);
}


@media screen and (max-width: 767px) {
    .s1{
      background-image: url("https://res.cloudinary.com/desecdaxd/image/upload/v1594375252/welcomeM.jpg");
    }
}

@media screen and (min-width: 768px) {
    .s1{
      background-image: url("https://res.cloudinary.com/desecdaxd/image/upload/v1594375467/welcomeM.jpg");
    }
}
@media screen and (min-width: 992px) {
      .s1{
          background-image: url("https://res.cloudinary.com/desecdaxd/image/upload/v1594375256/welcomeL.jpg");
      }
}


.contact {
  padding: 5vh 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/desecdaxd/image/upload/v1590487507/contact.jpg");
}

.about {
  height : auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  padding-top: 5vh;
}

.middle {
  padding: 5vh 0px;

}

.bottom {
  padding-bottom: 5vh;
}
.project {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s1 {
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.s2 {
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
