// Mise en forme pour les téléphones
@media (max-width: 400px) {
  p {
    font-size: 15px;
  }
}

@media (max-width: 670px) {
  .phone {
    text-align: justify;
  }
}

@media (max-height: 600px) {
  p {
    font-size: 13.5px;
  }
}

@media (min-width: 401px) {
  p {
  font-size :17px;

  }

}
