 body {
 margin: 0;
 }

 h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    }


    h1 {
  font-family: arial, helvetica;
  color: black;
  margin: 0;
  padding: 0;
}

h2 {
  color: black;
}


a {
  color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
