// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Mise en forme des paragraphes/titres
h1 {
  font-size: 5em;
  font-family: arial, helvetica;
  color: black;
  margin: 0;
  padding: 0;
}

p {
  font-size: 17px;
}

.section {
  text-align: center;
}

.s1,
.s2,
.s3,
.s4,
.s5,
.s6 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

//Mise en forme du background color avec opacity en ayant le text pleinement visible
.text {
  background: rgba(255, 255, 255, 0.5);
  padding: 0px 10px 10px 10px;
  border-radius: 30px;
}

.content {
  text-align: justify;
}

//Style adapté pour chaque section
.s1 {
  background-image: image-url("img1.jpg");
}

.s2 {
  background-image: image-url("img2.jpg");
}

.s3 {
  background-image: image-url("img3.jpg");
}

.s4 {
  background-image: image-url("img4.jpg");
}

.s5 {
  background-image: image-url("skills.jpg");
}

.s6 {
  background-image: image-url("contact.jpg");
}

//Bouton de DL du cv
.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: blue;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

// Mise en forme du fullpage
.fp-tableCell {
  padding: 0 40px;
  text-align: center;
}

// Mise en forme du carroussel
.carousel-inner img {
  width: 100%;
  height: 75vh;
  border-radius: 30px;
}

.carousel-indicators {
  position: relative;
  bottom: 20px;
  left: 5vw !important;
}

img {
  object-fit: cover;
  object-position: 50% 50%;
}
#chart {
  position: relative;
  padding: 8px;
  max-width: 50vw !important;
  max-height: 50vh !important;
  bottom: 20px;
}

// Mise en forme pour les téléphones
@media (max-width: 400px) {
  p {
    font-size: 15px;
  }
}

@media (max-width: 670px) {
  .phone {
    text-align: justify;
  }
}

@media (max-height: 600px) {
  p {
    font-size: 13.5px;
  }
}


// Mise en forme des logos sociaux
.fa-linkedin {
  color :#3077B5
}

.fa-facebook {
 color: #4267B2
}

i{
  img {
position: relative;
bottom: 7px;
}
}
