// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 5em;
  font-family: arial,helvetica;
  color: black;
  margin: 0;
  padding: 0;
}

.section {
  text-align:center;
}

.s1,
#section2,
#section3,
#section4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

// .s1 {
//   background-image: image-url("img1.jpg");
// }

// #section2 {
//   background-image: image-url("img2.jpg");
// }

// #section3 {
//   background-image: image-url("img3.jpg");
// }

// #section4 {
//   background-image: image-url("img4.jpg");
// }
