// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Mise en forme des paragraphes/titres


.section {
  text-align: center;
    display: flex;
  align-items: center;
  justify-content: center;
}

//Bouton de DL du cv
.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: blue;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}


// Mise en forme des logos sociaux
.fa-linkedin {
  color :#3077B5
}

.fa-facebook {
 color: #4267B2
}

i{
  img {
position: relative;
bottom: 7px;
}
}


// Mise en forme de la partie texte des projets
.project-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  width: 90%;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 30px;
  padding: 0px 10px 10px 10px;

}
